{% extends 'layouts/app.html' %}

{% block title %}Test your luck against the roll of the dice{% endblock %}
{% block meta_description %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block body %}

  <div class="card">
      <div class = "mt-4">
          <table id = "proxies" class="display table nowrap responsive" style="width: 100%">
              <thead>
                      <tr>
                          {% for header in results[0].keys() %}
                              <th>{{header}}</th>
                          {% endfor %}
                      </tr>
              </thead>
              <tbody>
                  {% for row in results %}
                  <tr>
                      {% for index in range(0, len(fieldnames)) %}
                          <td> {{row[fieldnames[index]]}}</td>
                      {% endfor %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
